// Text elements
h1 {
	font-size: 36px;
	line-height: 5rem;
	letter-spacing: -0.05em;

	@media (min-width: 768px) {
		font-size: 60px;
	}

	@media (min-width: 1024px) {
		font-size: 96px;
	}
}

h2 {
	font-size: 20px;
	letter-spacing: -0.05em;

	@media (min-width: 768px) {
		font-size: 30px;
	}

	@media (min-width: 1024px) {
		font-size: 48px;
	}
}

p {
	letter-spacing: var(--tracking-tight);
}

// Elements
input {
	width: 18.75rem;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input:focus {
	outline: none;
}

// Components
.card {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 2.5rem;

	&--col {
		display: flex;
		flex-direction: column;
	}
}

.card {
	&--center {
		justify-content: center;
		align-items: center;
	}

	&--start {
		justify-content: start;
		align-items: start;
	}
}

.banner-card {
	padding: 2.5rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.spinner {
	transform: rotate(-90deg);

	.circle {
		fill: transparent;
		stroke-width: 2.5px;
		stroke-linecap: round;
		stroke-dasharray: 15.7 47.1;
		transform-origin: 50% 50%;
		animation: spin 0.5s linear infinite;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
}
