// Text elements
h1 {
	font-size: 36px;

	@media (min-width: 768px) {
		font-size: 60px;
	}

	@media (min-width: 1024px) {
		font-size: 96px;
	}
}

h2 {
	font-size: 20px;

	@media (min-width: 768px) {
		font-size: 30px;
	}

	@media (min-width: 1024px) {
		font-size: 48px;
	}
}

p {
	letter-spacing: var(--tracking-tight);
}

// Components
.card {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 2.5rem;

	&--col {
		display: flex;
		flex-direction: column;
	}
}

.card {
	&--center {
		justify-content: center;
		align-items: center;
	}

	&--start {
		justify-content: start;
		align-items: start;
	}
}

.banner-card {
	padding: 2.5rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.1);
}
