@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--muted: #4e4e4e;

	/* Brand styles */
	--brand-blue: #0000ff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-muted: var(--muted);
	--color-brand-blue: var(--brand-blue);
}

@layer base {
	input {
		border-radius: 1.5rem;
		transition-property: color, background-color, border-color;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
